<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My first Jupyter Notebook

**Roaya Jannatipour**, and I hope to be a Data Scientist one day.

I would like to work at the intersection of epidemiology and bioinformatics, and I believe Data Science is the perfect tool to do so.

My code will compute the equation 1+1

In [1]:
1+1

2

Some of the popular libraries that Data Scientists use are:
1. Tensor Flow
2. NumPy
3. SciPy

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

| Data Science Tools | 
|---|
| Jupyter Notebook | 
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
2+2

4

In [3]:
3+3

6

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*5)+5

20

 This will convert 180 minutes to hours by diving by 60

In [5]:
180/60

3.0

**Objectives**

* Languages in Data Science
* Libraries in Data Science
* Arithmetic Equations using Code

## Author
Roaya Jannatipour